{% extends 'base.html' %} 
{% block title %} Members {% endblock %}

{% block content %} 
 
<br>
<h1 class="mt-5">Outdoor Adventuring Club Members</h1>
<hr>

<!-- from bootstrap -->
<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">DOB</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Phone Number</th>
        </tr>
    </thead>
    <tbody>
    {% for member in members %} 
        <tr>
        <td>{{member['fname']}}</td>
        <td>{{member['lname']}}</td>
        <td>{{member['dob']}}</td>
        <td>{{member['email']}}</td>
        <td>{{member['address']}}</td>
        <td>{{member['phone']}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<!-- Button to add member -->
<a href="{{ url_for('add_member') }}" class="btn btn-primary" type="button">Add Member</a>

{% endblock %}