{% extends 'base.html' %} 

{% block title %}{{ trip['name'] }}{% endblock %} 

{% block content %} 

<br>
<h1 class="mt-5">{{ trip['name'] }}</h1>

<!-- from bootstrap -->
<table class="table table-striped">
    <tbody>
      <tr>
        <th scope="row">Start Date:</th>
        <td>{{trip['start_date']}}</td>
      </tr>
      <tr>
        <th scope="row">Trip Length:</th>
        <td>{{trip['length']}}</td>
      </tr>
      <tr>
        <th scope="row">Activity Level:</th>
        <td>{{trip['level']}}</td>
      </tr>
      <tr>
        <th scope="row">Location:</th>
        <td>{{trip['location']}}</td>
      </tr>
      <tr>
        <th scope="row">Cost:</th>
        <td>{{trip['cost']}}</td>
      </tr>
      <tr>
        <th scope="row">Trip Leader:</th>
        <td>{{trip['leader']}}</td>
      </tr>
      <tr>
        <th scope="row">Description:</th>
        <td>{{trip['description']}}</td>
      </tr>
    </tbody>
  </table>

  <!-- Buttons for edit and delete trip (delete trip doesn't do anything) -->
  <a href="{{ url_for('edit_trip', trip_id=trip_id) }}" class="btn btn-primary" role="button">Edit Trip</a>
  <a href="{{ url_for('delete_trip', trip_id=trip_id) }}" class="btn btn-danger" role="button">Delete Trip</a>

{% endblock %}